[submodule "libraries/freetype"]
	path = libraries/freetype
	url = https://github.com/webrogue-runtime/freetype.git
	branch = webrogue
[submodule "libraries/glfw"]
	path = libraries/glfw
	url = https://github.com/webrogue-runtime/glfw.git
	branch = webrogue
[submodule "libraries/harfbuzz"]
	path = libraries/harfbuzz
	url = https://github.com/webrogue-runtime/harfbuzz.git
[submodule "libraries/libpng"]
	path = libraries/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "libraries/libsamplerate"]
	path = libraries/libsamplerate
	url = https://github.com/libsndfile/libsamplerate.git
[submodule "libraries/ogg"]
	path = libraries/ogg
	url = https://github.com/xiph/ogg.git
[submodule "libraries/vorbis"]
	path = libraries/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "libraries/zlib"]
	path = libraries/zlib
	url = https://github.com/webrogue-runtime/zlib.git
	branch = webrogue
[submodule "libraries/SDL2"]
	path = libraries/SDL2
	url = https://github.com/webrogue-runtime/SDL.git
	branch = webrogue/SDL2
[submodule "libraries/SDL2_ttf"]
	path = libraries/SDL2_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "libraries/SDL3"]
	path = libraries/SDL3
	url = https://github.com/webrogue-runtime/SDL.git
[submodule "libraries/SDL3_ttf"]
	path = libraries/SDL3_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "libraries/mesa"]
	path = libraries/mesa
	url = https://github.com/webrogue-runtime/mesa.git
	branch = webrogue
[submodule "libraries/Vulkan-Headers"]
	path = libraries/Vulkan-Headers
	url = https://github.com/webrogue-runtime/Vulkan-Headers.git
[submodule "libraries/Vulkan-Docs"]
	path = libraries/Vulkan-Docs
	url = https://github.com/webrogue-runtime/Vulkan-Docs.git
	branch = webrogue
[submodule "libraries/gtk"]
	path = libraries/gtk
	url = https://github.com/webrogue-runtime/gtk.git
[submodule "libraries/libffi"]
	path = libraries/libffi
	url = https://github.com/webrogue-runtime/libffi.git
[submodule "libraries/glib"]
	path = libraries/glib
	url = https://github.com/webrogue-runtime/glib.git
[submodule "libraries/libexpat"]
	path = libraries/libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "libraries/fontconfig"]
	path = libraries/fontconfig
	url = https://github.com/webrogue-runtime/fontconfig.git
[submodule "libraries/cairo"]
	path = libraries/cairo
	url = https://github.com/webrogue-runtime/cairo.git
[submodule "meson"]
	path = meson
	url = https://github.com/mesonbuild/meson.git
[submodule "libraries/pango"]
	path = libraries/pango
	url = https://github.com/webrogue-runtime/pango.git
[submodule "libraries/libxml2"]
	path = libraries/libxml2
	url = https://github.com/webrogue-runtime/libxml2.git
[submodule "libraries/gdk-pixbuf"]
	path = libraries/gdk-pixbuf
	url = https://github.com/webrogue-runtime/gdk-pixbuf.git
[submodule "libraries/volk-in-loaders-cloth"]
	path = libraries/volk-in-loaders-cloth
	url = https://github.com/webrogue-runtime/volk-in-loaders-cloth.git
[submodule "libraries/libjpeg-turbo"]
	path = libraries/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
