name: Build Webrogue SDK

on:
  workflow_dispatch

jobs:
  sdk:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v4

    - name: Submodules
      run: |
        git submodule update --init --single-branch --depth=1
  
    - name: Build
      run: |
        sh build.sh

    - name: Archive SDK
      run: |
        tar czf webrogue-sdk-x86_64-linux.tar.gz -C package/ webrogue-sdk-x86_64-linux/
        tar czf webrogue-sdk-arm64-linux.tar.gz -C package/ webrogue-sdk-arm64-linux/

        cd package/ && zip -r ../webrogue-sdk-x86_64-windows.zip webrogue-sdk-x86_64-windows && cd ..

        tar czf webrogue-sdk-x86_64-macos.tar.gz -C package/ webrogue-sdk-x86_64-macos/
        tar czf webrogue-sdk-arm64-macos.tar.gz -C package/ webrogue-sdk-arm64-macos/

    - name: Update tag
      run: |
        git tag -f latest
        git push --force origin latest

    - uses: ncipollo/release-action@v1
      with:
        artifacts: |
          webrogue-sdk-x86_64-linux.tar.gz
          webrogue-sdk-arm64-linux.tar.gz
          webrogue-sdk-x86_64-windows.zip
          webrogue-sdk-x86_64-macos.tar.gz
          webrogue-sdk-arm64-macos.tar.gz
        name: Continuous build
        allowUpdates: true
        tag: latest
        commit: ${{ github.ref }}
        makeLatest: true
